body{
    margin-top: 100px;
}
h1{
    text-align: center;
    color: gray;
    font-family: 'Courier New', Courier, monospace;
}
input{
    border: none;
    width: 100%;
}
ul li{
    list-style: none;
    margin-bottom: 6px;
    border-bottom: dotted gray 1px;
    padding-bottom: 15px;
}


.btn{
    float: right;
    color: red;
}

